server:
  port: 9098

spring:
  application:
    name: device-collector-service
  datasource:
    driver-class-name: org.apache.shardingsphere.driver.ShardingSphereDriver
    url: jdbc:shardingsphere:classpath:sharding.yml
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      org.hibernate:
        envers:
          autoRegisterListeners: true
          audit_table_suffix: _history
          default_schema: device_history
          store_data_at_delete: true
          revision_field_name: revision
          revision_type_field_name: revision_type
          revision_sequence_name: person_history.revinfo_seq
        hibernate:
          default_schema: device
          show_sql: ${SHOW_SQL:true}
          format_sql: ${FORMAT_SQL:true}
          highlight_sql: ${HIGHLIGHT_SQL:true}
          session.events.log.LOG_QUERIES_SLOWER_THAN_MS: ${SLOW_SQL_QUERY_INDICATOR_MS:15000}
          hbm2ddl:
            auto: validate
          jdbc:
            batch_size: 50
            order_inserts: true
            order_updates: true
            batch_versioned_data: true
    show-sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect
  flyway:
    enabled: false
  kafka:
    consumer:
      group-id: ${DEVICE_COLLECTOR_KAFKA_CONSUMER_GROUP_ID:device-collector-group}
      bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS:localhost:9092}
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: io.confluent.kafka.serializers.KafkaAvroDeserializer
      max-poll-records: 50
      enable-auto-commit: false
    properties:
      schema.registry.url: ${SCHEMA_REGISTRY_URL:schema-registry:8082}
      specific.avro.reader: true
    concurrency: ${KAFKA_CONCURRENCY}
    poll-timeout: ${KAFKA_POLL_TIMEOUT}
    batch-listener-enabled: ${KAFKA_BATCH_LISTENER_ENABLED}
    topic:
      name: device-topic
    dlt-topic:
      name: device-topic.DLT
management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    prometheus:
      access: read-only
    health:
      show-details: always
  prometheus:
    metrics:
      export:
        enabled: true
  tracing:
    enabled: true
    sampling:
      probability: 1.0
otel:
  exporter:
    otlp:
      endpoint: ${ALLOY_URL}
      protocol: http/protobuf
  logs:
    exporter: none
  metrics:
    exporter: none
logging:
  config: "classpath:logback.xml"
  level:
    org.flywaydb: DEBUG
    org.springframework.jdbc: DEBUG

app:
  retry:
    maxAttempts: 5
    minBackoffS: 2
    maxBackoffS: 30
